*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
}

.homework-main{
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: column;    
}

.homework-section,
.class-test-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 20px;
}
.homework-div,
.class-test-div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.homework-div a,
.class-test-div a{
    padding:20px;
    text-decoration: none;
    font-size: 20px;    
}

.homework-div a:hover,
.class-test-div a:hover{
    background-color: #007bff;
}

.class-home-work,
.class-test{
    display: flex;
    flex-direction: column;
}