.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail h1{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.detail-image{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding:20px;
}

.detail-image img{
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.three-div{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.ratings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ratings-list{
    width: 100%;
    display: flex;
}

.ratings-list .left{
    width: 50%;
}

.ratings-list .right{
    width: 45%;
    margin-left: 3%;
}

.AABI-div{
    display: flex;
    flex-direction: column;
    color:gray;
    width: 100%;
}

.AABI-div p{
    font-size: 0.8rem;
}

.lang{
    margin-left: 20px;
    font-size: 0.9rem;
}