*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.id-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    background: linear-gradient(to right, #30367c, #4434f0);
    width: 35vw;
    height: auto;
    border-radius: 25px;
}